.logo {
  height: 50px;
  width: 100px;
}

.backgroundpic {
  width: 100%;
  height: 100%;
}

h1{
  text-align: center;
  background-color: #4d90fe;
  padding: 20px;
  margin: 0px;
}

.button-class {
  text-align: center;
}

.container-fluid {
  padding-bottom: 5px;
}
 .navbar-default {
  margin-bottom: 0px !important;
}
.form-control {
  position: relative;
}
.inputContainer {
  position: absolute !important;
}
#map {
  height: 100%;
  z-index: 1;
  margin: 0px;
  top: 0;
  overflow: hidden;
}
a {
  background-color: #4484CE;
}
.container-fluid {
  background-color: #4484CE;
}
h3 {
  margin: 0px !important;
  color: white !important;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
  border-radius: 100px;
  z-index: 9999;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
  border-radius: 100px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
.mapWrapper {
  position: absolute;
  z-index: 8000;
  top: 280px;
  color: white;
}
#infoBox {
  background-color: #4d90fe;
  padding: 5px;
  width: 300px;
  border-radius: 25px;
  margin: 0px;
  display: inline-block;
  z-index: 10;
  opacity: .5;
  /*transform: scale(2) translateY(-50%) translateX(50%);*/
  /*transition-duration: all 2s ease-in-out;*/
}
#close {
  border: ;
  border-radius: 100px;
  background-color: #4484ce;
  box-shadow: 1px 2px 2px black;
}

@media screen and (max-width: 768px) {
#infoBox {
  width: 220px;
}
  .form {
  margin: 0%;
  top: 0;
  width: 100%;
  display: inline-block;
  }
  .inputContainer {
    position: absolute;
  }
  #origin-input {
    position: relative;
    border-radius: 100px ;
    margin-top: 10px;
  }
  #destination-input {
    margin-top: 50px;
    position: relative;
    border-radius: 100px ;
    left: 0 !important;
  }
  #mode-selector {
    margin-top: 90px !important;
    border-radius: 100px;
    position: relative;
    left: 0 !important;
  }
  .mapWrapper {
    top: 190px;
  }
}
@media screen and (max-width: 401px) {
  #infoBox {
    width: 195px;
  }
  #origin-input {
    margin-left: 0px;
  }
  #destination-input {
    margin-left: 0px;
  }
  #mode-selector {
    margin-left: 0px;
  }
}
